<!DOCTYPE html>
<html lang="zh-cn" class="scheme_original">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="format-detection" content="telephone=no">

		<title>公募机构注册</title>
		 <include file="Common:header1" /> 

		 <include file="Common:header" /> 
		
	</head>

	<body class="news_success">
		<!-- Body wrap -->
		    	<!-- /Header Mobile -->
				<!-- Breadcrumbs -->
				<div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
					<div class="top_panel_title_inner top_panel_inner_style_3 breadcrumbs_block_bg3">
						<div class="content_wrap">
							<h1 class="page_title">发布文章</h1>
							<div class="breadcrumbs">
								<a class="breadcrumbs_item home" href="index.html">首页</a>
								<span class="breadcrumbs_delimiter"></span>
								<span class="breadcrumbs_item current">发布文章</span>
							</div>
						</div>
					</div>
				</div>
				<!-- /Breadcrumbs -->
				<!-- Page Content Wrap -->
				<div class="content_wrap">
					<!--news_success start-->
					<div class="news_success page_content_wrap">
						<div class="p-log">
							<!--标题-->
							<div class="line">
								<div class="right-title fl">
									<h4>发布文章</h4>
								</div>
							</div>
							<!--标题-->
							<!--完成发布-->
							<div class="lineth" id="lin" >
								<div class="right-tit news_success_tit">
									<img class="news_success_bg" src="images/success.png"/><h3>发布成功！</h3>
								</div>
							</div>
							<!--完成发布-->
							<!--查看文章-->
							<div class="lineth">
								<div class="right-ti bu">
									<a href="{:U('Expert/center')}">
										<input type="button" name="" value="查看文章" id="but"/>
									</a>
								</div>	
							</div>
							<!--查看文章-->
						<!--p-log end-->	
						</div>
					</div>
					<!--news_success start-->
				</div>
				<!-- /Page Content Wrap -->
			 <!-- Footer -->
		 <include file="Common:footer" /> 
            
	</body>

</html>

