<!DOCTYPE html>
<html lang="zh-cn" class="scheme_original">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">

	<title>公募机构注册</title>
	<include file="Common:header1" />
	<include file="Common:header" />

</head>

<body class="page page-template body_style_wide body_filled article_style_stretch scheme_original top_panel_show top_panel_above sidebar_show sidebar_right">

<!-- Breadcrumbs -->
<div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
	<div class="top_panel_title_inner top_panel_inner_style_3 breadcrumbs_block_bg3">
		<div class="content_wrap">
			<h1 class="page_title">认证中心</h1>
			<div class="breadcrumbs">
				<a class="breadcrumbs_item home" href="index.html">首页</a>
				<span class="breadcrumbs_delimiter"></span>
				<span class="breadcrumbs_item current">认证中心</span>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumbs -->
<!-- Page Content Wrap -->
<div class="content_wrap">
	<!--prove_content_company start-->
	<div class="prove_content_company">
		<div class="p-log">
			<!--标题-->
			<div class="line">
				<div class="right-title fl">
					<h4>公募机构注册<span></span>
				</div>
				<div class="right-title fr">
					<span class="lits">如何完成公益组织注册？</span>
				</div>
			</div>
			<!--标题-->
			<!--完成实名认证-->
			<div class="lineth" id="lin" >
				<div class="right-tit"><h3> 完成注册！</h3></div>
				<div class="right-ti"><h6 >审核结果将在5个工作日内发送至您的QQ邮箱，请注意查收</h6></div>
			</div>

			<!--完成实名认证-->
			<!--发起项目按钮-->
			<div class="lineth">
				<div class="right-ti bu">
					<a href="{:U('Company/center')}"><input type="button" name="" value="审核中,请稍后" id="but"/></a>
				</div>

			</div>
			<!--发起项目按钮-->
			<!--p-log end-->
		</div>
	</div>
	<!--prove_content_company start-->
</div>
<!-- /Page Content Wrap -->
<!-- Footer -->
<include file="Common:footer" />

</body>

</html>

