<footer class="footer_wrap widget_area scheme_original">
    <div class="footer_wrap_inner widget_area_inner">
        <div class="content_wrap">
            <div class="columns_wrap">
                <!-- Widget: Text -->
                <aside class="column-1_4 widget widget_text">
                    <h5 class="widget_title">关于我们</h5>
                    <div class="textwidget">
                        <p>我们是一群有爱心的慈善公益人，我们期待志同道合的爱心人士加入我们。</p>
                        <p class="textwidget_info">
                            <strong>邮箱: info@yoursite.com</strong>
                        </p>
                        <p class="textwidget_info">
                            <strong>地址:北京市海淀区清华科技园.<a href="{:U('Map/beijing')}">百度地图</a></strong>
                        </p>
                        <p class="textwidget_info">
                            <strong>电话:400-6756-168</strong>
                        </p>
                    </div>
                </aside><!-- /Widget: Text --><!-- Widget: Recent Posts --><aside class="column-1_4 widget widget_recent_posts">
                <h5 class="widget_title">公益新闻</h5>
                <foreach name="Ancient" item="vo">
                    <article class="post_item with_thumb first">
                        <div class="post_thumb">
                            <a href="{:U('Ophtha/center',array('medart_id'=>$vo['medart_id']))}"><img alt="" src="{$vo.medart_time}"></a>
                        </div>
                        <div class="post_content">
                            <h6 class="post_title">
                                <a href="{:U('Ophtha/center',array('medart_id'=>$vo['medart_id']))}">{$vo.medart_title}</a>
                            </h6>
                            <div class="post_info">
                                <span class="post_info_item">
                                    <a href="javascript:;" class="post_info_date">{$vo.medart_time}</a>
                                </span>
                            </div>
                        </div>
                    </article>
                </foreach>

            </aside><!-- /Widget: Recent Posts --><!-- Widget: Instagram --><aside class="column-1_4 widget null-instagram-feed">
                <h5 class="widget_title">最新项目</h5>
                <ul class="instagram-pics instagram-size-large">
                    <foreach name="rescue" item="vo">
                        <li>
                            <a href="{:U('Rescue/deta',array('rescue_id'=>$vo['rescue_id']))}" target="_blank">
                                <img src="{$vo.rescue_pic}" alt="" width="50" height="50"  />
                                <!-- {$vo.rescue_pic} -->
                            </a>
                        </li>
                    </foreach>
                    
                </ul>
            </aside><!-- /Widget: Instagram --><!-- Widget: Recent Comments --><aside class="column-1_4 widget widget_recent_comments">
                <h5 class="widget_title">友情链接</h5>
                <ul id="recentcomments">
                    <li class="recentcomments">
                        <a href="http://www.cmf.org.cn/" target="_blank">中国医学基金会</a>
                    </li>
                    <li class="recentcomments">
                        <a href="http://zgykbwg.ahnmc.com/" target="_blank">中国眼科博物馆</a>
                    </li>
                    <li class="recentcomments">
                        <a href="javascript:;" target="_blank">社会福利基金会</a>
                    </li>
                    <li class="recentcomments">
                        <a href="http://alijijinhui.org/index.php" target="_blank">阿里巴巴公益基金</a>
                    </li>
                    <li class="recentcomments">
                        <a href="javascript:;" target="_blank">腾讯公益</a>
                    </li>
                </ul>
                <ul id="recentcomments">
                    <li class="recentcomments">
                        <a href="http://www.cmf.org.cn/" target="_blank">中国医学基金会</a>
                    </li>
                    <li class="recentcomments">
                        <a href="http://zgykbwg.ahnmc.com/" target="_blank">中国眼科博物馆</a>
                    </li>
                    <li class="recentcomments">
                        <a href="javascript:;" target="_blank">社会福利基金会</a>
                    </li>
                    <li class="recentcomments">
                        <a href="javascript:;" target="_blank">阿里巴巴公益平台</a>
                    </li>
                    <li class="recentcomments">
                        <a href="http://gongyi.qq.com/" target="_blank">腾讯公益</a>
                    </li>
                </ul>
            </aside>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->
<!-- Copyright -->
<div class="copyright_wrap copyright_style_text scheme_original">
    <div class="copyright_wrap_inner">
        <div class="content_wrap">
            <div class="copyright_text">Copyright &copy; 2017.Company name All rights reserved.
            </div>
        </div>
    </div>
</div>
<!-- /Copyright -->
</div>
<!-- /Page wrap -->
</div>
<!-- /Body wrap -->

<a href="javascript:;" class="scroll_to_top icon-up" title="Scroll to top"></a>

<script type="text/javascript" src="Public/Home/js/jquery/jquery.js"></script>

<script type="text/javascript" src="Public/Home/js/vendor/photostack/modernizr.min.js"></script>
<script type="text/javascript" src="Public/Home/js/_main.min.js"></script>
<script type="text/javascript" src="Public/Home/js/_packed.js"></script>

<script type="text/javascript" src="Public/Home/js/vendor/essential-grid/js/lightbox.js"></script>
<script type="text/javascript" src="Public/Home/js/vendor/essential-grid/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="Public/Home/js/vendor/essential-grid/js/jquery.themepunch.essential.min.js"></script>
<script type="text/javascript" src="Public/Home/js/essential-grid-homepage-1.js"></script>

<script type="text/javascript" src="Public/Home/js/vendor/revslider/jquery.themepunch.revolution.min.js"></script>

<script type="text/javascript" src="Public/Home/js/vendor/revslider/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="Public/Home/js/vendor/revslider/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="Public/Home/js/vendor/revslider/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="Public/Home/js/revslider-homepage-1.min.js"></script>

<script type="text/javascript" src="Public/Home/js/superfish.min.js"></script>
<script type="text/javascript" src="Public/Home/js/core.utils.min.js"></script>
<script type="text/javascript" src="Public/Home/js/user.js"></script>
<script type="text/javascript" src="Public/Home/js/template.init.min.js"></script>

<script type="text/javascript" src="Public/Home/js/shortcodes.min.js"></script>
<script type="text/javascript" src="Public/Home/js/core.messages.min.js"></script>
<script type="text/javascript" src="Public/Home/js/vendor/magnific/jquery.magnific-popup.min.js"></script>

<script type="text/javascript" src="Public/Home/js/countdown/jquery.plugin.min.js"></script>
<script type="text/javascript" src="Public/Home/js/countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="Public/Home/js/vendor/swiper/swiper.min.js"></script>
<script type="text/javascript" src="Public/Home/js/vendor/isotope/dist/isotope.pkgd.min.js"></script>

